<!-- Start Headline Area -->
<div class="headline-area bg-color1">
    <div class="headline-wrapper ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="1s" style="visibility:visible; animation-duration:1s; animation-name:fadeInUp;">
                        <div class="headline-logo">
                            <a href="/pages/about-us/"><img src="{{site.baseurl}}/assets/images/service-icon2.png" alt="About Us"></a>
                            <!-- <a href="/pages/about-us/"><img src="{{site.baseurl}}/assets/images/service-icon2.png" alt="About Us"></a> -->
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/pages/about-us/">About Us </a></h4>
                            <p><a href="/pages/about-us/">The IISc ACM Student Chapter is a joint initiative by the research students from Department of Computational and Data Sciences (CDS) and Computer Science and Automation (CSA). </a></p>
                            <a href="/pages/about-us/" class="btn btn-style3">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="/studinter-jayyagnik"><img src="{{site.baseurl}}/assets/images/popular-2.png" alt="Student Interaction"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/studinter-jayyagnik">Student Interaction</a></h4>
                            <p><a href="/studinter-jayyagnik"> The Chapter is delighted to host an open ended discussion between <b>Jay Yagnik</b>, VP and Engineering Fellow @ Google and students on <b>05th December 2019</b> between <b>10:30 AM - 11:30 AM</b>. </a></p>
                            <a href="/studinter-jayyagnik" class="btn btn-style3">More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="headline-box m-0 wow fadeInUp" data-wow-duration="3s" style="visibility: visible; animation-duration: 3s; animation-name: fadeInUp;">
                        <div class="headline-logo">
                            <a href="/pages/team#open-positions"><img src="{{site.baseurl}}/assets/images/service-icon3.png" alt="Open Positions"></a>
                        </div>
                        <div class="headline-content">
                            <h4 class="heading-4"><a href="/pages/team#open-positions">Open Positions</a></h4>
                            <p><a href="/pages/team#open-positions">The Chapter is still in it's infancy and we need your help to ensure it's smooth operation. Apply now for the open positions. </a></p>
                            <a href="/pages/team#open-positions" class="btn btn-style3">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Headline Area -->