<div class="team-area bg-color1">
    <div class="team-wrapper section-spacing bminus-30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 <div class="team-carousel-1 owl-carousel">
                  {% for team_member in site.team_members %}
                  {% if team_member.priority == 1 %}
                  <div class="single-team team-style">
                    <div class="team-img"><a href="{{team_member.personal_url}}"><img style="width: 50%; height: 50%; margin: auto" src="{{team_member.image_url}}" alt="{{team_member.name}}"></a></div>
                    <div class="team-content">
                        <div class="team-title">
                            <h4 class="heading-4"> <a href="{{team_member.personal_url}}">{{team_member.name}}</a> </h4>
                            <p>{{team_member.designation}}</p>
                        </div>
                        <ul class="team-socials list-inline">
                            {% if team_member.twitter_url %}
                            <li class="list-inline-item"><a href="{{team_member.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}
                            {% if team_member.linkedin_url %}
                            <li class="list-inline-item"><a href="{{team_member.linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                   </div> 
                   {% endif %}
                   {% endfor %}
                 </div>
              </div>
         </div>
         <div class="row">
            <div class="col-md-12">
             <div class="team-carousel-2 owl-carousel">
              {% for team_member in site.team_members %}
              {% if team_member.priority == 2 %}
              <div class="single-team team-style">
                <div class="team-img"><a href="{{team_member.personal_url}}"><img style="width: 50%; height: 50%; margin: auto" src="{{team_member.image_url}}" alt="{{team_member.name}}"></a></div>
                <div class="team-content">
                    <div class="team-title">
                        <h4 class="heading-4"> <a href="{{team_member.personal_url}}">{{team_member.name}}</a> </h4>
                        <p>{{team_member.designation}}</p>
                    </div>
                    <ul class="team-socials list-inline">
                        {% if team_member.twitter_url %}
                        <li class="list-inline-item"><a href="{{team_member.twitter_url}}"><i class="fa fa-twitter"></i></a></li>
                        {% endif %}
                        {% if team_member.linkedin_url %}
                        <li class="list-inline-item"><a href="{{team_member.linkedin_url}}"><i class="fa fa-linkedin"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
               </div> 
               {% endif %}
               {% endfor %}
             </div>
          </div>
     </div>
     </div>
</div>

<!-- <Designed by a human> -->
<!-- http://shriramr.net -->
        <!-- .. .............................................................................................................
          ..............................................................................................................
          . .. ..... ..................................................................................................,
        ......................................... ...................................................................,,,
      ................................................................................................................,,
      .................................................................................................................,
    . .................................................................................................................,
    ....................................................................................................................
     ...................................................................................................................
        .......................................................,........................................................
      .............................................,**(#########%%%%#/,.................................................
      ........................................,*(((###(((#######%%%#####((,.............................................
   . ....................................,//#########(###(##%#%%&%&&&&%&&%%#%(*.........................................
  . ...................................,#(((/((#((###########%%%#%%#%%%%&&&&%%%%*.......................................
   ..................................,((((((##(#######(#(##%%%%%%&&&&%&&&%%&&&%%%#,.....................................
   ................................./((((####(##((#####%%%&&&&&&%&&&@%%&%&&&%&&&&%%#*...................................
 .................................*(####(%#((%%%%%%%%#(/#%&&&&&%&%&%&&&%&&@@&&&%&%%#*.................................
 ................................*(####&%##%##%%#(%%&&&&&%##%&%%&&&&@&@&&@&@@@@&&&&&&%%,................................
  ..............................((##(#%%#(#%%#(######((#%%%&&&&@&&&@@&@@@@@@@@@@@&&&&%%%/...............................
  .............................(######(/#%#####%#%#&&%###%&&&&&@@&@@@@@@@@@@@@@@@@&@&&&%(...............................
 .............................*##(((##/#&/#&&&&%#%##%&&&&&&&&@%&&@@@@@@@@@@@@@@@@@@@&@@%%(..............................
 ............................*((#(%#((#&%&&@%%&%##(%#(%%%&&&@@@@@@@@@@@@@&&&&&@@@@@@@@&&&%..............................
 ............................(#(##%#(##%&@@@&&&@&&%%%##%%##%&&&&&@&&@%&%%%%(#(#%@@@@@@@&&&/.............................
  ...........................(((#%(&&&@@@@@@@@&@@&&%#%%%%&&&&&&&%#%%####////(%&@@@@@@@&.............................
  ..........................,((#%%#%%%@@@@@@@@@@@@&&&%#%%#%%%###%####(#(/////(((#%@@@@@@&&&,............................
 ............................(##&%#%%&@@@@@@@@@@&&%#/(((****((((((//*,,,**/**///(#&@@@@@@&&*,...........................
 ............................*##&&&&%@@@@&@&%&((/*/**((#####/,,,,,,,,,,,,,****//(##&@@@@@@&,,.,.........................
 .......................... ..(#%@@&@&&&///********,,,,.....,,,..,,,,,,,,****/(((###@@@@@@&,,,,.........................
 ..........................   (%%@@&%#(*******,,,,,..................,,,,,***///(((#&@@@@&&*,,,.........................
 ..........................  .,#&&@********,,,,,....................,,,,***///(((#&@@@@&%,,,,.........................
 ..........................   .(%%@#(*,****,,,,....,................,,,,,,,****/((((%@@@@%*,,,,.........................
  .........................    .%%%#(,,**/((//**,***,,,*,,,,,,,,*,,,**,***//((##%((((&@@@/,,,,,.........................
 ...........................  ..*%%#/,,(%%#####%%%&%%#((//******///(#&&&&&%%%&&&%((&@&(,,,,,,.........................
  ..........................     ,(#*,**//((#%&&@@#((((//****//(###%&@@@&&&%%##%#((%&,,,,,,,,.........................
   .........................     .##*,***/#%(. /&&%/,,/(//*,..,/(##(  .&&%/.*##(///(&,,,,,,,,,,.......................
   .........................     .#(******/((//***////*,/*,,..,*/(*,,,*//(/(###(//*//(&*,,,,,,,,,.......................
   ..........................     ##**,,,**////**,*,.,***,,....*/((/,,,*///(((//***//(&*,,,,,,,,,.......................
   ............................   ,#**,,,,,,,******,,*,,,,,,...*////***************//(&,,,,,,,,.........................
   .............................  .****,,,,,,,,,,,,,,,**,,,,...,*////*,,,,*,,,,,,**//(,,,,,,,,,.........................
 ...............................   ****,,,,,........,****,,....,,/((/*,,,,..,,,,,*//((,,,,,,,...........................
  ..............................   ,/****,,,,.......,***,,... ..,,///,,......,,,**/((#,,,,,,............................
 ...............................    //****,,,,......,*,,,,......,,/**/,.....,,,,*//(#/,,,,,,............................
 ................................  .*//****,,,,.....,*,,*/(**,*/&@#/((*,..,,,,**//(##,,,,,,,,,..........................
 ................................    ///***,,,,,,..,,,,**,.,//(*,*/**,,,,,,,,***/(##/,,,,,,,,...........................
 .................................   /////***,,,,,,,,,*//(//(*((#(##/**,,******/(##%,,,,,,,,,...........................
 ................................     (/////*******/*//(/***(////((#(((//**/*/(###%*,,,,,,,,,...........................
 ................................     .((((//*//((#((#/*,,***,,/**//((###%#(/(#%%#(,,,,,,,,,,...........................
 ................................       ##(//*/(#####(((((//(/(((####(%%#(#((%%%%%,,,,,,,,,,,...........................
 ................................       %%##(((/((/**//*,,,....,,*/((///((/(%%%%(,,,,,,,,,..............................
 .................................../(#(@((%#%#((//*****,,,,**/////(*///((#&&&&&@&&%,,,,................................
 ............................../((%(###(&**,#%###(///*//((##((#((/*(///((#&@&@((((&&%#..................................
 .....................((##(#((((#%%####(%***,,(%#%#(#/////****/****/((###&&@%#((///#%%%%%#(/,...........................
   .......,(((((((((((((#%#(###%#####%#(%*,*,,,,#%%#((//(/(/(***/(//(/#%&@%(((///**%%%%%%%%%%%%%%#/,,,,,,,,,,,,,,,,,,,,,
   ...*/(((((((#((#####%(#%##(#%###(#%##&*,**,,,,,#%#(((#(((///(((####%&@(((((///*(%%%%%%%%%%%%%%%%%%%%%%*,,,,,,,,,,,,,,
 */(((((((####(#%((####%#(#%##(########(***,,,,,,,/###(#(##(##%%#%(((//(//**#%%%%%%%%%%%%%%%%%%%%%%%%%%%/,,,,,,,,,
 #/(#(((##(###((#%##%######%%#((#####&%##&/**,,,.,,,,,*(#%&%%&&&%&(////////(***(&%%%%%%%%%%%%%%%%%%%%%%%%%%#####%(,,,,
 ##(##((###(###((#%#%%####(#&%#((####&%%##&/*,,,,,.,,,********************///(/**%&%%&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%,
 (&(#%#(((%#####(#&%#%%%####%%%#(((#%&%####%/,,,,,,,,,,,,,,,,,,,,,,,,*******///*%@%%&&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 (#%(#%#((#%#(####%#%%%####%%%#((#%&####%*,.,,,,,...,,,,,,,,,,,,,********/(%%&%%%&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 ((@#(%%#((%%((###%@###&%%###%%###((#&##%##%/,...,,.............,,,***,,,,,/%%&&&%%&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 (#%&(%&%#(#%%(((##&%##%%%###%%%##((#&%%####%(,.................,,,,,,,,,,%%&&&&%%&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 ((#@##%#(%%#((##&##%###%%###(#&&%%###&%#%%/,...............,,,,,.,,(%%&&%&%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 ((#%%#%&%###%%#((#%&%###&%####%%##(#&##%#%%#%%/*,,,......,,,..,,,,,#%%&&&&&%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&
 %(#%&(#%%###%%#(((#@%####&%####%##((%#####%#%##%%#(**,,,.,*,.,*/%%%&&&&%&&%%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&
 %((%#@(%&%##%###((#&##(%&%###%%#((#&%######%&%#%%%#####%%%%%%##%%%&%%%%%%&&%%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 (((%##%%&%###%##((#&&%#((#%#####((#%%#######%&&%%%%%%%%%%%%%%%%%%%%%%%%%&&%%%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#%%%%%&
 #%(#%#%&%######((&%###((#%%######(#%%%#######%&&%%#%%%%%%%%%%%%%%%%%&%%&%%%%%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 ###%%####&%######((%%####(##%%#####(#%%%########%&&%%#####%%%%%%%%%%&%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 %#(%###%#####((%####(##%%###((##%%#########%&%%%%%##%%%%%%%%%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%
 #%(#&&%##%&%######(#######(#%####(##%%##########%%%%%%%%%%%%%%%%%%%&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%%%&%%%%%%%%
 (#%&##&%#################%%##(##%############%%%%%%%%%%%%%%%%%@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&%%%%%%&%
 #%##%%&%##%#######&%#########%%##(##%#############%%%%%%%%%%%%%%%&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&&%%%%%&%%
 %%##%%@%%##%%#######%%#########(###(#################%%%%%%%%%%%%&&%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%&&&&%%%&&&%%%%&&%&
 %####%&&#%%%####(##%#############((################%%%%%%###%%&&%%%%%%%%%%%%%%&&%%%%%%%%%%%%%%%%&&&&&&&%%&&&%&%%%&&&&
 &###&@##%%################(#####################%%%%%%#%%&&%%%%%%%%%%%%%%%&%%%%%%%%%%%&%&%%%&&&&&&&&&@&&&&&&&&&&%
 #####@@%###%######(%%#############################%#####%%%%&&%%%%%%%%%%%%%%%&&&%%%%%%%%%%%&&&&&&&&&&&&&@&&&&&&&&&&&&
 %%%%###&@##%%#######%##########################%##%%####%%%&&%%%%%%%%%%%%%%%%&%%&&&%&&%&&%&&&&&&&&&&&&&@@&&&&&&&&&&&&
 %%%%###&@&%###%#######%#########################%%%#%####%%%%&&%%%%%%%%%%%&%%%&&&&%&&&&&&&&&&&&&&&@&&&&&@@@@&&@&&&&&&&% -->
<!-- http://shriramr.net -->
