<!-- Start Timeline Area -->
<div class="timeline-area bg-color1">
    <div class="timeline-wrapper timeline-section-spacing ">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Roadmap</h2>
            </div>

            <div class="timeline">
                <ul>                        
                        <li class="upcoming-event">
                            <div class="timeline-content upcoming-event">
                                <h4 class="heading-4">Invited Talk - Dr. Manish Gupta</h4>
                                <p class="timeline-time">23-10-2019</p>
                                <!-- <p class="timeline-desc">Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus </p> -->
                            </div>
                        </li>
                        <li class="completed-event">
                            <div class="timeline-content completed-event">
                                <h4 class="heading-4">Inaugural Event</h4>
                                <p class="timeline-time">13-06-2019</p>
                            </div>
                        </li>
                        <li class="completed-event">
                            <div class="timeline-content completed-event">
                                <h4 class="heading-4">Chapter Started</h4>
                                <p class="timeline-time">26-03-2019</p>
                            </div>
                        </li>                   
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Timeline Area -->