<!-- Start Timeline Area -->
<div class="timeline-area bg-color1">
    <div class="timeline-wrapper timeline-section-spacing ">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-2">Roadmap</h2>
            </div>

            <div class="timeline">
                <ul>                        
                        <li class="upcoming-event">
                            <div class="timeline-content upcoming-event">
                                <h4 class="heading-4"><a href="/studinter-jayyagnik">Student Interaction with Jay Yagnik</a></h4>
                                <p class="timeline-time"><a href="/studinter-jayyagnik">04-12-2019</a></p>
                            </div>
                        </li>
                        <li class="completed-event">
                            <div class="timeline-content completed-event">
                                <h4 class="heading-4"><a href="/invitedtalk-manishgupta">Invited Talk - Dr. Manish Gupta</a></h4>
                                <p class="timeline-time"><a href="/invitedtalk-manishgupta">23-10-2019</a></p>
                            </div>
                        </li>
                        <li class="completed-event">
                            <div class="timeline-content completed-event">
                                <h4 class="heading-4"><a href="/inaugural-event">Inaugural Event</a></h4>
                                <p class="timeline-time"><a href="/inaugural-event">13-06-2019</a></p>
                            </div>
                        </li>
                        <li class="completed-event">
                            <div class="timeline-content completed-event">
                                <h4 class="heading-4">Chapter Started</h4>
                                <p class="timeline-time">26-03-2019</p>
                            </div>
                        </li>                   
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Timeline Area -->